{
  "openapi": "3.0.1",
  "info": {
    "title": "Phrase TMS API",
    "description": "Welcome to Phrase's TMS API documentation. \n\n Please visit our [help center](https://support.phrase.com/hc/en-us/sections/5709662083612) for more information about the APIs. \n\n If you have any questions, please contact [Support](https://support.phrase.com/hc/requests/new). \n\n Please, include the `User-Agent` header with the name of your application or project. It might be a good idea to include some sort of contact information as well, so that we can get in touch if necessary. Examples of excellent `User-Agent` headers:\n > User-Agent: Example mobile app (example@phrase.com) <br/> User-Agent: ACME Inc Java 1.8 Client (http://acmeinc.com/contact)",
    "version": "Latest"
  },
  "servers": [
    {
      "url": "https://cloud.memsource.com/web"
    }
  ],
  "tags": [
    {
      "name": "Additional Workflow Step"
    },
    {
      "name": "Analysis"
    },
    {
      "name": "Async Request"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Bilingual File"
    },
    {
      "name": "Business Unit"
    },
    {
      "name": "Client"
    },
    {
      "name": "Connector"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Cost Center"
    },
    {
      "name": "Custom Fields"
    },
    {
      "name": "Custom File Type"
    },
    {
      "name": "Domain"
    },
    {
      "name": "Email Template"
    },
    {
      "name": "File"
    },
    {
      "name": "Glossary"
    },
    {
      "name": "Import settings"
    },
    {
      "name": "Job"
    },
    {
      "name": "Language Quality Assessment"
    },
    {
      "name": "Machine Translation"
    },
    {
      "name": "Machine Translation Settings"
    },
    {
      "name": "Mapping"
    },
    {
      "name": "Net Rate Scheme"
    },
    {
      "name": "Price List"
    },
    {
      "name": "Project"
    },
    {
      "name": "Project Reference File"
    },
    {
      "name": "Project Template"
    },
    {
      "name": "Provider"
    },
    {
      "name": "Quality Assurance"
    },
    {
      "name": "Quote"
    },
    {
      "name": "SCIM"
    },
    {
      "name": "Segment"
    },
    {
      "name": "Segmentation Rules"
    },
    {
      "name": "Spell Check"
    },
    {
      "name": "SubDomain"
    },
    {
      "name": "Supported Languages"
    },
    {
      "name": "Term Base"
    },
    {
      "name": "Translation"
    },
    {
      "name": "Translation Memory"
    },
    {
      "name": "User"
    },
    {
      "name": "Vendor"
    },
    {
      "name": "Webhook"
    },
    {
      "name": "Workflow Step"
    },
    {
      "name": "Workflow changes"
    }
  ],
  "paths": {
    "/api2/v1/additionalWorkflowSteps/{id}": {
      "delete": {
        "tags": [
          "Additional Workflow Step"
        ],
        "summary": "Delete additional workflow step",
        "operationId": "deleteAWFStep",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted",
            "content": {}
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/additionalWorkflowSteps": {
      "get": {
        "tags": [
          "Additional Workflow Step"
        ],
        "summary": "List additional workflow steps",
        "operationId": "listAWFSteps",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number, starting with 0, default 0",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size, accepts values between 1 and 50, default 50",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the additional workflow step to filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageDtoAdditionalWorkflowStepDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Additional Workflow Step"
        ],
        "summary": "Create additional workflow step",
        "operationId": "createAWFStep",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/AdditionalWorkflowStepRequestDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdditionalWorkflowStepDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/analyses/{analyseUid}": {
      "delete": {
        "tags": [
          "Analysis"
        ],
        "summary": "Delete analysis",
        "operationId": "delete",
        "parameters": [
          {
            "name": "analyseUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purge",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/analyses/bulk": {
      "delete": {
        "tags": [
          "Analysis"
        ],
        "summary": "Delete analyses (batch)",
        "operationId": "bulkDeleteAnalyses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteAnalyseDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/analyses/byProviders": {
      "post": {
        "tags": [
          "Analysis"
        ],
        "summary": "Create analyses by providers",
        "operationId": "createAnalysesForProviders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnalyseListAsyncDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncAnalyseListResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/analyses/byLanguages": {
      "post": {
        "tags": [
          "Analysis"
        ],
        "summary": "Create analyses by languages",
        "operationId": "createAnalysesForLangs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnalyseListAsyncDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncAnalyseListResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/analyses/{analyseUid}/analyseLanguageParts/{analyseLanguagePartId}": {
      "get": {
        "tags": [
          "Analysis"
        ],
        "summary": "Get analysis language part",
        "description": "Returns analysis language pair",
        "operationId": "getAnalyseLanguagePart",
        "parameters": [
          {
            "name": "analyseUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "analyseLanguagePartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyseLanguagePartDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/analyses/{analyseUid}/jobs/{jobUid}": {
      "get": {
        "tags": [
          "Analysis"
        ],
        "summary": "Get jobs analysis",
        "description": "Returns job's analyse",
        "operationId": "getJobPartAnalyse",
        "parameters": [
          {
            "name": "analyseUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyseJobDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/analyses/{analyseUid}/download": {
      "get": {
        "tags": [
          "Analysis"
        ],
        "summary": "Download analysis",
        "operationId": "downloadAnalyse",
        "parameters": [
          {
            "name": "analyseUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CSV",
                "CSV_EXTENDED",
                "LOG",
                "JSON"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "application/octet-stream",
            "content": {}
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/analyses/recalculate": {
      "post": {
        "tags": [
          "Analysis"
        ],
        "summary": "Recalculate analysis",
        "operationId": "recalculate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyseRecalculateRequestDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyseRecalculateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/analyses/{analyseUid}/analyseLanguageParts/{analyseLanguagePartId}/jobs": {
      "get": {
        "tags": [
          "Analysis"
        ],
        "summary": "List jobs of analyses",
        "description": "Returns list of job's analyses",
        "operationId": "listJobParts",
        "parameters": [
          {
            "name": "analyseUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "analyseLanguagePartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number, starting with 0, default 0",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size, accepts values between 1 and 50, default 50",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageDtoAnalyseJobDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/async/{asyncRequestId}": {
      "get": {
        "tags": [
          "Async Request"
        ],
        "summary": "Get asynchronous request",
        "operationId": "getAsyncRequest",
        "parameters": [
          {
            "name": "asyncRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncRequestDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/async": {
      "get": {
        "tags": [
          "Async Request"
        ],
        "summary": "List pending requests",
        "operationId": "listPendingRequests",
        "parameters": [
          {
            "name": "all",
            "in": "query",
            "description": "Pending requests for organization instead of current user. Only for ADMIN.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number, starting with 0, default 0",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size, accepts values between 1 and 50, default 50",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageDtoAsyncRequestDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/async/status": {
      "get": {
        "tags": [
          "Async Request"
        ],
        "summary": "Get current limits",
        "operationId": "getCurrentLimitStatus",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncRequestStatusDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout",
        "operationId": "logout",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/auth/loginToSession": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login to session",
        "operationId": "loginToSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginToSessionDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginToSessionResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/auth/loginOther": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login as another user",
        "description": "Available only for admin",
        "operationId": "loginOther",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginOtherDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/auth/whoAmI": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Who am I",
        "operationId": "whoAmI",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginUserDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/auth/loginWithGoogle": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login with Google",
        "operationId": "loginByGoogle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginWithGoogleDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/auth/loginWithApple/refreshToken": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login with Apple refresh token",
        "operationId": "loginByAppleWithRefreshToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginWithAppleDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/auth/loginWithApple/code": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login with Apple with code",
        "operationId": "loginByAppleWithCode",
        "parameters": [
          {
            "name": "native",
            "in": "query",
            "description": "For sign in with code from native device",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginWithAppleDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/auth/refreshAppleToken": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "refresh apple token",
        "operationId": "refreshAppleToken",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppleTokenResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/bilingualFiles/convert": {
      "post": {
        "tags": [
          "Bilingual File"
        ],
        "summary": "Convert bilingual file",
        "operationId": "convertBilingualFile",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MXLF",
                "DOCX"
              ]
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MXLF",
                "DOCX"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "$ref": "#/components/schemas/InputStream"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "application/octet-stream",
            "headers": {
              "Content-Disposition": {
                "description": "Contains filename (UTF-8 encoded). \n\n `filename*=UTF-8''ExampleFileName.md`",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/bilingualFiles": {
      "put": {
        "tags": [
          "Bilingual File",
          "Job"
        ],
        "summary": "Upload bilingual file",
        "description": "Returns updated job parts",
        "operationId": "uploadBilingualFile",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "MXLF",
              "enum": [
                "MXLF",
                "DOCX",
                "XLIFF"
              ]
            }
          },
          {
            "name": "saveToTransMemory",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Confirmed",
              "enum": [
                "All",
                "Confirmed",
                "None"
              ]
            }
          },
          {
            "name": "setCompleted",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "$ref": "#/components/schemas/InputStream"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPartsDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/bilingualFiles/compare": {
      "post": {
        "tags": [
          "Bilingual File"
        ],
        "summary": "Compare bilingual file",
        "description": "Compares bilingual file to job state. Returns list of compared segments.",
        "operationId": "compareBilingualFile",
        "parameters": [
          {
            "name": "workflowLevel",
            "in": "query",
            "schema": {
              "maximum": 15,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "$ref": "#/components/schemas/InputStream"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComparedSegmentsDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/bilingualFiles/preview": {
      "post": {
        "tags": [
          "Bilingual File"
        ],
        "summary": "Download preview",
        "description": "Supports mxliff format",
        "operationId": "getPreviewFile",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "$ref": "#/components/schemas/InputStream"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "application/octet-stream",
            "headers": {
              "Content-Disposition": {
                "description": "Contains filename (UTF-8 encoded). \n\n `filename*=UTF-8''ExampleFileName.md`",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/businessUnits/{businessUnitUid}": {
      "get": {
        "tags": [
          "Business Unit"
        ],
        "summary": "Get business unit",
        "operationId": "getBusinessUnit",
        "parameters": [
          {
            "name": "businessUnitUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUnitDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Business Unit"
        ],
        "summary": "Edit business unit",
        "operationId": "updateBusinessUnit",
        "parameters": [
          {
            "name": "businessUnitUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUnitEditDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUnitDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Business Unit"
        ],
        "summary": "Delete business unit",
        "operationId": "deleteBusinessUnit",
        "parameters": [
          {
            "name": "businessUnitUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/businessUnits": {
      "get": {
        "tags": [
          "Business Unit"
        ],
        "summary": "List business units",
        "operationId": "listBusinessUnits",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Unique name of the business unit",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "description": "Uid of user",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "NAME",
              "enum": [
                "NAME",
                "DATE_CREATED"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number, starting with 0, default 0",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size, accepts values between 1 and 50, default 50",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageDtoBusinessUnitDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Business Unit"
        ],
        "summary": "Create business unit",
        "operationId": "createBusinessUnit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUnitEditDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUnitDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/clients/{clientUid}": {
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "Get client",
        "operationId": "getClient",
        "parameters": [
          {
            "name": "clientUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Client"
        ],
        "summary": "Edit client",
        "operationId": "updateClient",
        "parameters": [
          {
            "name": "clientUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientEditDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Client"
        ],
        "summary": "Delete client",
        "operationId": "deleteClient",
        "parameters": [
          {
            "name": "clientUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/clients": {
      "get": {
        "tags": [
          "Client"
        ],
        "summary": "List clients",
        "operationId": "listClients",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Unique name of the Client",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "description": "Uid of user",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "NAME",
              "enum": [
                "NAME",
                "DATE_CREATED"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number, starting with 0, default 0",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size, accepts values between 1 and 50, default 50",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageDtoClientDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Client"
        ],
        "summary": "Create client",
        "operationId": "createClient",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientEditDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/connectors/{connectorId}/folders/{folder}/files/{file}": {
      "get": {
        "tags": [
          "Connector"
        ],
        "summary": "Download file",
        "description": "Download a file from a subfolder of the selected connector",
        "operationId": "getFile",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/InputStreamLength"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/connectors/{connectorId}": {
      "get": {
        "tags": [
          "Connector"
        ],
        "summary": "Get a connector",
        "operationId": "getConnector",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "Connector"
        ],
        "summary": "Edit connector",
        "description": "Edit selected connector",
        "operationId": "editConnector",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionTest",
            "in": "query",
            "description": "For running connection test",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbstractConnectorDto"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Edited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorCreateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api2/v1/connectors": {
      "get": {
        "tags": [
          "Connector"
        ],
        "summary": "List connectors",
        "operationId": "getConnectorList",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorListDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/connectors/{connectorId}/folders/{folder}": {
      "get": {
        "tags": [
          "Connector"
        ],
        "summary": "List files in a subfolder",
        "description": "List files in a subfolder of the selected connector",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectUid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "schema": {
              "pattern": "ALL|FILES_ONLY|FOLDERS_ONLY",
              "type": "string",
              "default": "ALL"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "pattern": "NAME|SIZE|LAST_MODIFIED",
              "type": "string",
              "default": "NAME"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "pattern": "ASCENDING|DESCENDING",
              "type": "string",
              "default": "ASCENDING"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileListDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Upload a file to a subfolder of the selected connector",
        "description": "Upload a file to a subfolder of the selected connector",
        "operationId": "uploadFile",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "multipart/form-data"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Translated file to upload",
                    "format": "binary"
                  },
                  "sourceFileName": {
                    "type": "string",
                    "description": "Name or ID of the original file"
                  },
                  "subfolderName": {
                    "type": "string",
                    "description": "Optional subfolder to upload the file to"
                  },
                  "mimeType": {
                    "type": "string",
                    "description": "Mime type of the file to upload"
                  },
                  "commitMessage": {
                    "type": "string",
                    "description": "Commit message for upload to Git, etc."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "405": {
            "description": "Method not allowed",
            "content": {}
          },
          "408": {
            "description": "Timeout",
            "content": {}
          },
          "410": {
            "description": "Gone",
            "content": {}
          },
          "415": {
            "description": "Unsupported media type",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          },
          "500": {
            "description": "Internal server error",
            "content": {}
          },
          "501": {
            "description": "Not implemented",
            "content": {}
          }
        }
      }
    },
    "/api2/v1/connectors/{connectorId}/folders": {
      "get": {
        "tags": [
          "Connector"
        ],
        "summary": "List files in root",
        "description": "List files in a root folder of the selected connector",
        "operationId": "getRootFolder",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "schema": {
              "pattern": "ALL|FILES_ONLY|FOLDERS_ONLY",
              "type": "string",
              "default": "ALL"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "pattern": "NAME|SIZE|LAST_MODIFIED",
              "type": "string",
              "default": "NAME"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "pattern": "ASCENDING|DESCENDING",
              "type": "string",
              "default": "ASCENDING"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileListDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          },
          "401": {
            "description": "Not authorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
[...]
